html {
  font-family: monospace;
}

table {
  max-width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  td, th {
    padding: 0.5rem;
  }
  thead {
    td, th {
      border-bottom: 1px solid black;
    }
    th {
      text-align: left;
      vertical-align: bottom;
    }
  }
  tbody {
    td {
      vertical-align: middle;
      padding: 0.5rem;
    }
    @media print {
      tr {
        td, th {
          border-bottom: 1px dotted black;
        }
      }
    }
    @media screen {
      tr:has(td:target) {
        background: rgba(256, 250, 0, 0.25);
      }
      tr:nth-child(even) {
        background: #eee;
      }
    }
  }
}
